.displayerContainer {
    padding: 1em;
    border-radius: 1em;
    border: 1px solid var(--border-primary);
    background-color: var(--bg-secondary);
}

.logsContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: auto;
}